.comment-app-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightblue;
  font-size: 14px;
  overflow: auto;
}

.comment-app-content {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid lightgray;
  background: #fff;
}

.comment-input {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
}
.comment-input-field {
  display: flex;
  margin-bottom: 20px;
}
.comment-input-name {
  flex-basis: 100px;
}
.comment-input-area {
  display: flex;
  flex: 1;
}
.comment-input input, textarea {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  resize: none;
  flex: 1;
}
.comment-input button {
  float: right;
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.comment {
  padding: 20px 5px;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
}
.comment-user {
  flex-basis: 50px;
}
.comment-user span {
  color: blueviolet;
}
.comment p {
  flex: 1;
  margin: 0;
}
.comment-delete button {
  margin-left: 10px;
  border: 1px solid #e6e6e6;
  outline: none;
  padding: 5px 10px;
  background: #fff;
  cursor: pointer;
}
.comment-delete button:hover {
  background: #000;
  color: #fff;
}

code {
  background: lightgray;
  padding: 0 5px;
}